<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/data/mongo
    					http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <!--mongo配置开始-->
    <mongo:mongo id="mongo" host="${mongo_host}" port="${mongo_port}"  />

    <bean id="record" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="userEachHourScore"/>
    </bean>
    <!--mongo配置结束-->

</beans>